$theme-color = #347ABB;
$blue-color = #0066a2;
$red-color = #F56C6C;
$right-color = #60D1A3;
$error-color = #FF8687;
$gray-color = #999;
$primary-colors = #347ABB;
$linear-from = #0059C5;
$linear-to = #49D9E3;
$danger-color = #F56C6C;
$min-height = 800px;